/* @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap"); */
@import url(https://db.onlinewebfonts.com/c/2ca210d3e487531af7ebb12961643a06?family=Urby-Black);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Urby-Black";
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.l-heading {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 20px;
  text-transform: capitalize;
}

.m-heading {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 6px;
  text-transform: capitalize;
}

.s-heading {
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 6px;
  text-transform: capitalize;
}

.btn {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 0.5rem 2rem;
}

.btn:hover {
  background: red;
}

/* Showcase */
.logo {
}

#showcase {
  background: #3e6c9f url("../img/stage.jpeg") no-repeat center center/cover;
  /* background-color: #3e6c9f; */
  height: 100vh;
  position: relative;
}

#showcase .showcase-content::before {
  content: "";
  background-color: #000;
  height: 100vh;
  width: 100vw;
  display: block;
  position: absolute;
  opacity: 0.5;
}

#showcase .showcase-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Text above overlay */
#showcase .showcase-content h2,
img,
a {
  z-index: 1;
}

#showcase .showcase-content .l-heading {
  margin-bottom: 20px;
}

#showcase .showcase-content img {
  margin-bottom: 20px;
}

#showcase .showcase-content .btn {
  margin-top: 20px;
}
